.btn1 {
    border: none;
    padding: 0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 2em;
    color: #fff;
    padding: 0;
    margin: 0;
    background: rgb(0, 0, 0);
    position: relative;
    z-index: 999;
    display: block;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

[data-role="controls"] > button[data-recording="true"] > div {
    content: "";
    width: 40px;
    height: 40px;
    background: #189BFF;
    border: 5px solid #189BFF;
    border-radius: 50%;
    position: absolute;
    animation: pulsate infinite 1.5s;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.3, 1.3);
        opacity: 0;
    }
}


[data-role="controls"] > button[data-recording="true"] {
    background-color: #ff2038;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff2038), to(#b30003));
    background-image: -o-linear-gradient(bottom, #ff2038 0%, #b30003 100%);
    background-image: linear-gradient(0deg, #ff2038 0%, #b30003 100%);

}
